.mainContainer{
    width: 90%;
    height: 90%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    display: flex;
  }

  .landingPage{
      width: 100%;
      height: 100%;
      background-color: rgb(0,0,66);
      display: flex;
  }

  .loginBox{
    background-color: rgb(69, 69, 168);
    width: 30%;
    min-width: 250px;
    height: 95%;
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 50px;
    color: rgb(231, 248, 77);
  }

  .loginBox input{
    width: 80%;
    height: 10%;
    font-size: large;
    background-color:  rgb(69, 69, 168);
    border: 0px;
    border-bottom:2px solid black ;
    outline: none;
    padding-left: 10px;
    color: rgb(231, 248, 77);
  }

  .loginBox input::placeholder{
    color:rgb(231, 248, 77);
  }

  .loginBox button{
    width: 50%;
    height: 10%;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: 0px;
    background-color:rgb(231, 248, 77);
    cursor: pointer;
    transition: all 0.3s;
  }

  .loginBox button:hover{
    background-color:rgb(255, 142, 134) ;
  }
  .loginBox button:active{
    background-color: green;
  }

  @media screen and  (max-width: 700px) { 
    .mainContainer{
      display: block;
      overflow: hidden;
    }
  }