.App {
  background-color: rgb(0,0,66);
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}

.mainContainer{
  width: 90%;
  height: 90%;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  display: flex;
}

.userBoxContainer{
  width: 25%;
  border: 1px solid black;
  height: 100%;
  border-top-left-radius: 10px;
}

.chatBoxContainer{
  width: 75%;
  border: 1px solid black;
  border-top-right-radius: 10px;
  display: grid;
  grid-template-rows: 13% 1fr 18%;
  
}

.chatBoxHeader{
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-weight: 400;
  font-size: 22px;
  word-spacing: -6px;
  background: linear-gradient(45deg, rgb(0,51,155),white, rgb(0,51,155));
  color: white;
  
}

.messageScreen{
  border: 1px solid black;
}

.messageInput{
  border: 1px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
